In [2]:
import joblib

model = joblib.load("flirt_model.pkl")
vectorizer = joblib.load("flirt_vectorizer.pkl")

print("Model Loaded Successfully!")

Model Loaded Successfully!

In [3]:
import pandas as pd
import re

In [4]:
import pandas as pd

df = pd.read_csv("whastsapp_chat.csv", header=None, names=["raw"])

In [11]:
df

                                                   raw
1        30/11/20, 6:57?pm - Mohanraj: <Media omitted>
2                    04/06/21, 11:00?am - Mohanraj: Hi
3    04/06/21, 11:00?am - Mohanraj: Bro sathish na ...
4             04/06/21, 12:10?pm - Sathish Lap: Ama pa
5              04/06/21, 12:10?pm - Sathish Lap: Nenga
..                                                 ...
108                Indha brands lam konjam Nala irukum
109           14/10/25, 6:24?pm - Sathish Lap: Send pq
110               14/10/25, 6:27?pm - Sathish Lap: Yes
111  14/10/25, 6:27?pm - Sathish Lap: This one branded
112  14/10/25, 6:27?pm - Sathish Lap: All ssd 2.5 i...

[112 rows x 1 columns]

In [6]:
df=df.drop(0)

In [15]:
clean_df

        Date      Time       Sender                Message
0   30/11/20   6:57?pm     Mohanraj        <Media omitted>
1   04/06/21  11:00?am     Mohanraj                     Hi
2   04/06/21  11:00?am     Mohanraj  Bro sathish na nengaa
3   04/06/21  12:10?pm  Sathish Lap                 Ama pa
4   04/06/21  12:10?pm  Sathish Lap                  Nenga
..       ...       ...          ...                    ...
84  14/10/25   6:25?pm     Mohanraj                Brands:
85  14/10/25   6:24?pm  Sathish Lap                Send pq
86  14/10/25   6:27?pm  Sathish Lap                    Yes
87  14/10/25   6:27?pm  Sathish Lap       This one branded
88  14/10/25   6:27?pm  Sathish Lap     All ssd 2.5 inches

[89 rows x 4 columns]

In [14]:


pattern = r"^(\d{2}\/\d{2}\/\d{2}),\s*(\d{1,2}:\d{2}.*?m)\s*-\s*([^:]+):\s*(.*)"

rows = []

for line in df["raw"]:
    m = re.match(pattern, line, flags=re.IGNORECASE)
    if m:
        date, time, sender, msg = m.groups()
        rows.append([date, time, sender.strip(), msg.strip()])

clean_df = pd.DataFrame(rows, columns=["Date", "Time", "Sender", "Message"])

print(clean_df.head(10))
print("Total messages:", len(clean_df))

       Date      Time       Sender                                Message
0  30/11/20   6:57?pm     Mohanraj                        <Media omitted>
1  04/06/21  11:00?am     Mohanraj                                     Hi
2  04/06/21  11:00?am     Mohanraj                  Bro sathish na nengaa
3  04/06/21  12:10?pm  Sathish Lap                                 Ama pa
4  04/06/21  12:10?pm  Sathish Lap                                  Nenga
5  04/06/21  12:29?pm     Mohanraj               Morning call pannan broo
6  04/06/21  12:56?pm  Sathish Lap                                  Ok ok
7  04/06/21  12:57?pm  Sathish Lap  Coming thuesday ...mrng call pannunga
8  04/06/21  12:57?pm     Mohanraj                                     ??
9  07/06/21  12:58?pm     Mohanraj       Nallaiki varuvingalaa kumbakonam
Total messages: 89

In [13]:
for i, row in enumerate(df["raw"].head(10)):
    print(i, repr(row))

0 '30/11/20, 6:57?pm - Mohanraj: <Media omitted>'
1 '04/06/21, 11:00?am - Mohanraj: Hi'
2 '04/06/21, 11:00?am - Mohanraj: Bro sathish na nengaa'
3 '04/06/21, 12:10?pm - Sathish Lap: Ama pa'
4 '04/06/21, 12:10?pm - Sathish Lap: Nenga'
5 '04/06/21, 12:29?pm - Mohanraj: Morning call pannan broo'
6 '04/06/21, 12:56?pm - Sathish Lap: Ok ok'
7 '04/06/21, 12:57?pm - Sathish Lap: Coming thuesday ...mrng call pannunga'
8 '04/06/21, 12:57?pm - Mohanraj: ??'
9 '07/06/21, 12:58?pm - Mohanraj: Nallaiki varuvingalaa kumbakonam'

In [16]:
clean_df["Message"] = clean_df["Message"].astype(str)

In [17]:
X_vec = vectorizer.transform(clean_df["Message"])

In [18]:
clean_df["flirt_pred"] = model.predict(X_vec)

In [19]:
clean_df

        Date      Time       Sender                Message flirt_pred
0   30/11/20   6:57?pm     Mohanraj        <Media omitted>  not_flirt
1   04/06/21  11:00?am     Mohanraj                     Hi  not_flirt
2   04/06/21  11:00?am     Mohanraj  Bro sathish na nengaa  not_flirt
3   04/06/21  12:10?pm  Sathish Lap                 Ama pa  not_flirt
4   04/06/21  12:10?pm  Sathish Lap                  Nenga  not_flirt
..       ...       ...          ...                    ...        ...
84  14/10/25   6:25?pm     Mohanraj                Brands:  not_flirt
85  14/10/25   6:24?pm  Sathish Lap                Send pq  not_flirt
86  14/10/25   6:27?pm  Sathish Lap                    Yes  not_flirt
87  14/10/25   6:27?pm  Sathish Lap       This one branded  not_flirt
88  14/10/25   6:27?pm  Sathish Lap     All ssd 2.5 inches  not_flirt

[89 rows x 5 columns]