#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [2]:
import math
print(math.sqrt(16))

4.0

#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [6]:
def my_function(x):
    x += 5
    print(x)

x = 10
my_function(x)

15

In [13]:
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

##5.
def square(n):
    n * n

print(square(4))

In [16]:
def square(n):
    return n * n

print(square(4))

16

In [ ]:
#6,my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [4]:
my_tuple = (1, 2, 3)
my_tuple[1]==5

False

In [ ]:
#7.name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [8]:
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age))

My name is Alice and I am 25 years old

In [ ]:
#8.#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [9]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [ ]:
##9.
for i in range(5, 1):
    print(i)

In [11]:
#9.
for i in range(1, 5):
    print(i)

1
2
3
4

In [ ]:
##10.
student = {"name": "John", "age": 20}
print(student[name])

In [14]:
student = {"name": "John", "age": 20}
print("student",(name))

student Alice