In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("feature_selected_data.csv")

In [3]:
df

,vehicle_mass_kg,fuel_type,engine_capacity_cc,engine_power_kw,fuel_efficiency_km_per_l
0,1670.0,petrol,2487.0,131.0,18.181818
1,1493.0,petrol,1199.0,96.0,16.666667
2,1649.0,petrol,1598.0,132.0,17.241379
3,1560.0,petrol,1987.0,112.0,19.230769
4,1290.0,petrol,999.0,81.0,16.129032
...,...,...,...,...,...
6528924,1808.0,diesel,1997.0,106.0,13.513514
6528925,1475.0,petrol,1798.0,72.0,21.276596
6528926,1475.0,petrol,1798.0,72.0,21.276596
6528927,1808.0,diesel,1997.0,106.0,13.513514
6528928,1475.0,petrol,1798.0,72.0,21.276596

In [4]:
def efficiency_class(x):
    if x > 18:
        return "High"
    elif x >= 15:
        return "Medium"
    else:
        return "Low"

df["fuel_efficiency_class"] = df["fuel_efficiency_km_per_l"].apply(efficiency_class)

In [5]:
df

,vehicle_mass_kg,fuel_type,engine_capacity_cc,engine_power_kw,fuel_efficiency_km_per_l,fuel_efficiency_class
0,1670.0,petrol,2487.0,131.0,18.181818,High
1,1493.0,petrol,1199.0,96.0,16.666667,Medium
2,1649.0,petrol,1598.0,132.0,17.241379,Medium
3,1560.0,petrol,1987.0,112.0,19.230769,High
4,1290.0,petrol,999.0,81.0,16.129032,Medium
...,...,...,...,...,...,...
6528924,1808.0,diesel,1997.0,106.0,13.513514,Low
6528925,1475.0,petrol,1798.0,72.0,21.276596,High
6528926,1475.0,petrol,1798.0,72.0,21.276596,High
6528927,1808.0,diesel,1997.0,106.0,13.513514,Low
6528928,1475.0,petrol,1798.0,72.0,21.276596,High

In [6]:
df=df.drop(columns=['fuel_efficiency_km_per_l'])

In [7]:
df

,vehicle_mass_kg,fuel_type,engine_capacity_cc,engine_power_kw,fuel_efficiency_class
0,1670.0,petrol,2487.0,131.0,High
1,1493.0,petrol,1199.0,96.0,Medium
2,1649.0,petrol,1598.0,132.0,Medium
3,1560.0,petrol,1987.0,112.0,High
4,1290.0,petrol,999.0,81.0,Medium
...,...,...,...,...,...
6528924,1808.0,diesel,1997.0,106.0,Low
6528925,1475.0,petrol,1798.0,72.0,High
6528926,1475.0,petrol,1798.0,72.0,High
6528927,1808.0,diesel,1997.0,106.0,Low
6528928,1475.0,petrol,1798.0,72.0,High

In [8]:
df['fuel_efficiency_class'].value_counts()

fuel_efficiency_class
High      3266424
Medium    2276076
Low        986429
Name: count, dtype: int64

In [9]:
import pandas as pd

In [10]:
df_high = df[df['fuel_efficiency_class'] == 'High']
df_medium = df[df['fuel_efficiency_class'] == 'Medium']
df_low = df[df['fuel_efficiency_class'] == 'Low']

In [11]:
n_samples = len(df_low)  # 986,429

In [12]:
df_high_down = df_high.sample(n=n_samples, random_state=0)
df_medium_down = df_medium.sample(n=n_samples, random_state=0)

In [13]:
df_balanced = pd.concat([df_high_down, df_medium_down, df_low], axis=0)

In [14]:
df_balanced = df_balanced.sample(frac=1, random_state=0).reset_index(drop=True)

print(df_balanced['fuel_efficiency_class'].value_counts())

fuel_efficiency_class
Low       986429
High      986429
Medium    986429
Name: count, dtype: int64

In [15]:
df_balanced

,vehicle_mass_kg,fuel_type,engine_capacity_cc,engine_power_kw,fuel_efficiency_class
0,1460.0,petrol,1984.0,167.0,Low
1,1055.0,petrol,1199.0,55.0,High
2,1394.0,petrol,1199.0,96.0,Medium
3,1570.0,petrol,1332.0,120.0,Low
4,991.0,petrol,999.0,48.0,High
...,...,...,...,...,...
2959282,1625.0,petrol,1477.0,95.0,Low
2959283,1864.0,diesel,1993.0,147.0,High
2959284,1800.0,petrol,2998.0,167.0,Low
2959285,1280.0,petrol,1199.0,96.0,Medium
2959286,1420.0,petrol,1798.0,72.0,High

In [17]:
df_balanced.to_csv("clean_data.csv", index=False)