In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("preplacementdata.csv")

In [3]:
dataset

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,1.0,67.00,91.00,58.00,55.0,58.80,270000.0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,2.0,79.33,78.33,77.48,86.5,66.28,200000.0,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,3.0,65.00,68.00,64.00,75.0,57.80,250000.0,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,4.0,56.00,52.00,52.00,66.0,59.43,0.0,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,5.0,85.80,73.60,73.30,96.8,55.50,425000.0,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211.0,80.60,82.00,77.60,91.0,74.49,400000.0,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,212.0,58.00,60.00,72.00,74.0,53.62,275000.0,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,213.0,67.00,67.00,73.00,59.0,69.72,295000.0,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,214.0,74.00,66.00,58.00,70.0,60.23,204000.0,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,215.0,62.00,58.00,53.00,89.0,60.22,0.0,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    float64
 1   ssc_p           215 non-null    float64
 2   hsc_p           215 non-null    float64
 3   degree_p        215 non-null    float64
 4   etest_p         215 non-null    float64
 5   mba_p           215 non-null    float64
 6   salary          215 non-null    float64
 7   gender          215 non-null    object
 8   ssc_b           215 non-null    object
 9   hsc_b           215 non-null    object
 10  hsc_s           215 non-null    object
 11  degree_t        215 non-null    object
 12  workex          215 non-null    object
 13  specialisation  215 non-null    object
 14  status          215 non-null    object
dtypes: float64(7), object(8)
memory usage: 25.3+ KB

In [6]:
#independent sample=unpaired test
#different group(male,female) but same condition(salary)
from scipy.stats import ttest_ind
male=dataset[dataset['gender']=='M']['salary']
female=dataset[dataset['gender']=='F']['salary']
ttest_ind(male,female)

TtestResult(statistic=2.1103433958668765, pvalue=0.03599560646745178, df=213.0)

In [15]:
#dependent sample
#same group(male) but different condition(ssc p,hsc p)
from scipy.stats import ttest_rel
male=dataset[dataset['gender']=='M']['hsc_p']
male1=dataset[dataset['gender']=='M']['ssc_p']
ttest_rel(male,male1)

TtestResult(statistic=-0.6852881050898076, pvalue=0.49431164600731514, df=138)

In [16]:
from scipy.stats import ttest_ind
commerce=dataset[dataset['hsc_s']=='Commerce']['mba_p']
science=dataset[dataset['hsc_s']=='Science']['mba_p']
ttest_ind(commerce,science)

TtestResult(statistic=-0.7331285580404581, pvalue=0.46432995253854314, df=202.0)

In [17]:
from scipy.stats import ttest_rel
male=dataset[dataset['gender']=='M']['hsc_p']
male1=dataset[dataset['gender']=='M']['ssc_p']
ttest_rel(male,male1)

TtestResult(statistic=-0.6852881050898076, pvalue=0.49431164600731514, df=138)

In [18]:
import scipy.stats as stats
stats.f_oneway(dataset['ssc_p'],dataset['hsc_p'],dataset['degree_p'])

F_onewayResult(statistic=0.6719700864663097, pvalue=0.5110602818995302)